
@{
    ViewBag.Title = "Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rastreamento de pedidos</h2>
<hr/>

<div>
    <label>Digite o número do pedido para buscar:</label>
    <input type="text" class="form-control order-number" style="width:350px;"/><br/>
    <button class="btn btn-success search">Pesquisar</button><br/><br/>
    <div class="alert alert-info searching" style="display: none;"></div>
    <div class="alert alert-info not-found" style="display: none;"></div>
    <div class="search-result"></div>
</div>
<script src="~/Js/tracking.js"></script>
