
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Minhas listas de desejo</h2>
<hr/>
<div class="btn-group btn-group-justified" role="group">
    <a href="/WishLists/Create" class="btn btn-default" role="button">Criar nova lista</a>
    <a href="/WishLists/All" class="btn btn-default" role="button">Visualizar listas</a>
    <a href="/WishLists/Search" class="btn btn-default" role="button">Buscar lista</a>
</div>

