@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
       <div class="panel panel-default">
        <div class="panel-body">
            Sobre nós
        </div>
        <div class="panel-footer">
            A FantasyStore nasceu há sete anos, com a inauguração de sua primeira loja de fantasias e acessórios 
            no bairro de Perdizes, hoje totaliza cinco lojas espalhadas pela capital paulista. Com o sucesso da primeira, 
            a segunda loja foi montada em agosto de 2009, no bairro de Pinheiros, com faturamento acima do projetado, a 
            terceira loja foi montada em Julho de 2010, no bairro de Moema e a quarta , em Fevereiro de 2012, no bairro do Tatuapé, 
            além de uma nova unidade no ParkShopping São Caetano, na região do ABC.
            A FantasyStore veio com a missão de resgatar o universo da alegria e do prazer de brincar, criando um elo com o mundo mágico da fantasia. 
            Para tanto foi desenvolvido um mix de produtos com a presença de personagens de sucesso da TV e do cinema. 
            Este conceito criou um novo nicho de mercado atendendo o público infantil, adolescentes e os adultos. 
            A proposta de atendimento da FantasyStore é diferenciada, pois, além de oferecer um grande sortimento, busca agilidade, 
            satisfação e fidelização de seus clientes.

        </div>
    </div>
</div>
