@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            Contato
        </div>
        <div class="panel-footer">
            Fantasy Store <br/><br/>
        
            Rua Sérvia, 329 <br/>
            04763-070 – São Paulo – SP <br/>
            BRASIL<br/>

            Tel: +55 (11) 5696-6777 <br/>
            FAX: +55 (11) 5523-1411<br/>
        </div>
    </div>
</div>
