@{
    ViewBag.Title = "Fantasy Store";
    Layout = "../Shared/_Layout.cshtml";
}

<style>
    html, body {
        height: 100%;
        width: 100%;
    }

    .title {
        color: orangered;
        font-family: Impact;
        font-weight: bolder;
        font-size: 40pt;
    }

    .product-name {
        font-family: Impact;
        font-size: 13pt;
        color: cadetblue;
    }

    .price-from {
        color: darkgray;
        font-size: 10pt;
    }

    .price-to {
        color: green;
        font-size: 13pt;
        font-weight: bold;
    }

    .product-info {
        margin: auto;
    }

    .section-title {
        color: midnightblue;
        font-family: Impact;
        font-size: 18pt;
    }

    .product-wrapper {
        border: 2px solid lightgray;
        height: 100%;
        border-radius: 4px;
        width: 270px;
        float: left;
        margin-left: 13px;
    }

    footer {
        background-color: lightgray;
        height: 70px;
        width: 100%;
        border: 1px solid grey;
        border-radius: 3px;
    }
</style>
<div class="container">
    <div class="row" style="min-height: 800px;">
        <div class="row" style="min-height: 300px; width: 100%; margin: auto;">
            <div style="height: 100%; width: 100%;">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="section-title">Fantasias em destaque</span>
            </div>
            @{
                Html.RenderAction("_Section1");
            }
        </div>
        
        <br/>

        <div class="row" style="min-height: 300px; width: 100%; margin: auto;">
            <div style="height: 100%; width: 100%;">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="section-title">Lançamentos</span>
            </div>
            @{
                Html.RenderAction("_Section2");
            }
        </div>

        <br/>

        <div class="row" style="min-height: 300px; width: 100%; margin: auto;">
            <div style="height: 100%; width: 100%;">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="section-title">Infantis</span>
            </div>
            @{
                Html.RenderAction("_Section3");
            }

        </div>

    </div>
        <br/><br/><br/>
        
    <footer>
        <p style="margin-left:500px; font-size: 10pt;">Desenvolvido por Renan Porto</p>
    </footer>
</div>



