@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FantasyStore.WebApp.ViewModels.LogInModel

<div class="container">
    <div class="row" style="min-height: 800px;">
        <div class="panel panel-default" style="width:350px;">
            <div class="panel-body">
                Logar
            </div>
            <div class="panel-footer">
                @using (Html.BeginForm())
                {
                    <label>Usuário</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "width:200px;" })
                    <label>Senha</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "width:200px;" }) <br />

                    <p><a href="#">Ainda não sou cadastrado</a></p>
                    <p>
                        <button class="btn btn-primary" type="submit">Entrar</button>
                    </p>
                }

                @*<form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Usuário</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Entre com o usuário">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entre com a senha">
                        </div>
                        <p><a href="#">Ainda não sou cadastrado</a></p>
                        <button type="submit" class="btn btn-default">Entrar</button>
                    </form>*@

            </div>

        </div>
    </div>
</div>
