@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FantasyStore.WebApp.ViewModels.LogInModel
<style>
    img {
        height: 20px;
        width: 100px;
    }
</style>
<div class="container">
    <div class="row" style="min-height: 800px;">
        <div class="panel panel-default" style="width:350px;">
            <div class="panel-body">
                Logar <br/>
                <hr/>
                <a href="#"><img src="/Content/Images/facebook-logo.jpg"/></a>
            </div>
            <div class="panel-footer">
                @using (Html.BeginForm())
                {
                    <label>Usuário</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "width:200px;", @placeholder = "Entre com o usuário" })
                    <label>Senha</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "width:200px;", @placeholder = "Entre com a senha" }) <br />

                    <p><a href="/Auth/Register">Ainda não sou cadastrado</a></p>
                    <p>
                        <button class="btn btn-primary" type="submit">Entrar</button>
                    </p>
                }

            </div>

        </div>
    </div>
</div>
